<!DOCTYPE html>
<html lang="pt-BR">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <link rel="icon" href="/logo.ico" type="image/x-icon"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;900&display=swap" rel="stylesheet">
    <title>Foodfy</title>

  </head>

  <body>
    <header>
      <div class="header">
        <img src="/logo.png" class="logo">
        <a href="/about" class="folders">Sobre</a>
        <a href="/recipe" class="folders">Receitas</a>
      </div>
    </header>
    <div id="frontPost">
      <div class="frontPostText">
        <p>
          {{ index.p1 }}
        </p>
        <p>
          {{ index.p2 }}
        </p>
      </div>
      <img src="{{ index.frontPostImage}}" class="banner">
    </div>

    <h1>Mais Acessadas</h1>

    <section class="cards">
      {% for item in receitas %}
        <div class="card">
          <div class="menuImg">
            <img src="{{ item.image }}" class="cardImage">
          </div>

          <div class="menuDescription">
            {{ item.title }}
          </div>

          <div class="menuAuthor">
            {{ item.author }}
          </div>
        </div>
      {% endfor %}

    </section>

    <div class="modal-overlay">
      <div class="modal">

        <div class="modal-content">
          <!-- IMAGE -->
        </div>
        <a class="close-modal">
          <i>Fechar Modal</i>
        </a>
      </div>
    </div>

    <footer>
      <p>{{ index.footer }}</p>
    </footer>

    <script src="/index.js"></script>

  </body>

</html>